.settings
.classpath
.project
*.iml
*.ipr
*.iws
dist/
lib_managed/
project/boot/
project/plugins/project/
project/target/
project/project/
target/

# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# building
target
build
null
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

# Naughty output not in target directory
build.log
.DS_Store
derby.log
*.db
.lib
logs

# Vagrant
.vagrant
vagrant_ansible_inventory_default
tmp

# Development environment files
conf/application.dev.conf