@import com.m3.octoparts.util.ConfigMode
@(
  form: Form[controllers.AdminForms.ParamData],
  partId: String,
  cacheGroups: scala.collection.SortedSet[com.m3.octoparts.model.config.CacheGroup],
  maybeParam: Option[presentation.ParamView]
)(implicit
  flash: Flash,
  configMode: ConfigMode,
  navbarLinks: presentation.NavbarLinks,
  messages: Messages
)

@title = @{
    maybeParam match {
        case Some(param) => Messages("parameter.edit", partId, param.name)
        case None => Messages("parameter.create", partId)
    }
}
@postUrl = @{
    maybeParam match {
        case Some(param) => controllers.routes.AdminController.updateParam(partId, param.id.get)
        case None => controllers.routes.AdminController.createParam(partId)
    }
}
@* Override the default field constructor and use our simple one instead *@
@implicitField = @{ helper.FieldConstructor(simplefield.apply) }

@views.html.adminlayout(title) {

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/jquery.validationEngine.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/languages/jquery.validationEngine-@{messages.lang.language}.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/validationEngine.jquery.min.css"/>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#editParam").validationEngine({
            prettySelect : true
        });
    });
    </script>

} {

    <form id="editParam" action="@postUrl" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <h3 class="col-sm-5 control-label">@title</h3>
        </div>
        <div class="form-group">
           <label for="outputName" class="col-sm-2 control-label">@Messages("parts.parameter.outputName")</label>
            <div class="row">
                <div class="col-sm-5">
                    @helper.inputText(form("outputName"), 'class -> "form-control validate[required]")
               </div>
            </div>
        </div>

        <div class="form-group">
            <label for="outputType" class="col-sm-2 control-label">@Messages("parts.parameter.type")</label>
            <div class="row">
                <div class="col-sm-5">
                    @helper.select(form("paramType"), options = com.m3.octoparts.model.config.ParamType.values.toSeq.sorted.map(pt => pt.toString -> pt.toString), 'class -> "form-control")
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">@Messages("parts.parameter.description")</label>
            <div class="row">
                <div class="col-sm-5">
                @helper.textarea(form("description"), 'class -> "form-control")
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="required" class="col-sm-2 control-label">@Messages("parts.parameter.required")</label>
            <div class="row">
                <div class="col-sm-5">
                    @helper.checkbox(form("required"))
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputNameOverride" class="col-sm-2 control-label">@Messages("parts.parameter.inputName") @Messages("parameter.ifDifferent")</label>
            <div class="row">
                <div class="col-sm-5">
                    @helper.inputText(form("inputNameOverride"), 'class -> "form-control")
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="cacheGroups" class="col-sm-2 control-label">@Messages("cacheGroups.this")</label>
            <div class="row">
                <div class="col-sm-5">
                    @if(cacheGroups.isEmpty) {
                        @Messages("parameter.cacheGroups.none")
                    } else {
                        @helper.select(form("cacheGroups"), options = cacheGroups.toSeq.map(cg => cg.name -> cg.name), 'multiple -> "multiple", 'class -> "form-control")
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="versioned" class="col-sm-2 control-label">@Messages("parts.parameter.versioned")</label>
            <div class="row">
                <div class="col-sm-5">
                    @helper.checkbox(form("versioned"))
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="row">
                <div class="col-sm-5">
                    <input type="submit" class="btn btn-primary" />
                </div>
            </div>
        </div>

    </form>

}
