@(
  cacheGroups: scala.collection.SortedSet[com.m3.octoparts.model.config.CacheGroup]
)(implicit
  flash: Flash,
  navbarLinks: presentation.NavbarLinks,
  messages: Messages
)

@views.html.adminlayout(Messages("cacheGroups.list")) {
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" />
    <style type="text/css">
    <!--
    th {
        font-weight:bold;
    }
    form {
        display:inline;
    }
    -->
    </style>
    @views.html.datatables()
} {

    <a href="@controllers.routes.AdminController.newCacheGroup" class="btn btn-primary" style="margin: 5px 0;">@Messages("cacheGroups.create")</a>

    <table class="dataTable stripe hover compact">
        <thead>
            <tr>
                <th>@Messages("cacheGroups.name")</th>
                <th>@Messages("cacheGroups.description")</th>
                <th>@Messages("cacheGroups.owner")</th>
                <th>@Messages("cacheGroups.numParts")</th>
                <th>@Messages("cacheGroups.numParameters")</th>
                <th>@Messages("action")</th>
            </tr>
        </thead>
        <tbody>
        @for(group <- cacheGroups) {
            <tr>
                <td><a href="@controllers.routes.AdminController.showCacheGroup(group.name)">@group.name</a></td>
                <td>@group.description</td>
                <td>@group.owner</td>
                <td>@group.httpPartConfigs.size</td>
                <td>@group.partParams.size</td>
                <td width="150px">
                    @if(group.httpPartConfigs.nonEmpty) {
                        @helper.form(action = controllers.routes.CacheController.invalidateCacheGroupParts(group.name), 'method -> "post") {
                            <input type="submit" value="@Messages("cacheGroups.flush")" class="btn btn-danger" />
                        }
                    }
                    <a href="@controllers.routes.AdminController.editCacheGroup(group.name)" class="btn btn-primary">@Messages("edit")</a>
                    <a href="@controllers.routes.AdminController.confirmDeleteCacheGroup(group.name)" class="btn btn-danger">@Messages("delete")</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
