@import play.api.Mode
@(
  parts: scala.collection.SortedSet[presentation.HttpPartConfigView],
    mode: Mode
)(implicit
  flash: Flash,
  navbarLinks: presentation.NavbarLinks,
  messages: Messages
)

@views.html.adminlayout(Messages("parts.list")) {
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" />
    <style type="text/css">
    <!--
    th {
        font-weight:bold;
    }
    form {
        display:inline;
    }
    -->
    </style>
    @views.html.datatablesJsAndStyles()
    <script type="text/javascript">
    $(document).ready(function() {
        var tableObject = $('table.dataTable');
        var selectAll = $("#select-all");
        var selectNone = $("#select-none");
        var downloadForm = $("#download-form");
        var table = tableObject.DataTable({
            "language": {"url": '//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/@{messages.lang.toLocale.getDisplayLanguage(java.util.Locale.ENGLISH)}.json'},
            "jQueryUI": true,
            "stateSave": true,
            "pagingType": "full_numbers",
            "pageLength": 50,
            "aoColumnDefs": [
              { 'bSortable': false, 'aTargets': [ 0 ] }
           ],
           "order": [[ 1, "desc" ]]
        });
        var exportSelectedLink = $("#export-selected");

        var updateDownloadLink = function(selectedIds){
            if (selectedIds.length > 0) {
                downloadForm.empty();
                selectedIds.forEach(function(element) {
                    $("<input>").attr({
                        type: "hidden",
                        name: "ids[]",
                        value: element
                    }).appendTo(downloadForm);
                });
                exportSelectedLink.on("click", function(e){
                    downloadForm.submit();
                    e.preventDefault();
                });
                toggleDownloadLink(true);
            } else {
                toggleDownloadLink(false);
            }
        };

        var currentlyShownIds = function () {
            var checkboxes = table.$('input[type="checkbox"]', { filter: 'applied' });
            return checkboxesToIds(checkboxes);
        };

        var currentlySelectedIds = function() {
            var selectedCheckboxes = table.$('input[type="checkbox"]:checked', { filter: 'applied' });
            return checkboxesToIds(selectedCheckboxes);
        };

        var checkboxesToIds = function(checkboxesJQArray) {
            return $.map(checkboxesJQArray, function(checkbox) {
                return $(checkbox).val();
            });
        };

        var toggleDownloadLink = function(enabled) {
          if(enabled) {
            exportSelectedLink.removeClass("disabled");
            exportSelectedLink.removeAttr("disabled");
          } else {
            exportSelectedLink.attr("disabled", "disabled");
          }
        };

        var updateSelectButtons = function(selectedShownIds) {
            var shownIds = currentlyShownIds();
            if (shownIds.length > 0) {
                if (selectedShownIds.length == shownIds.length) {
                    selectAll.attr("disabled", "disabled");
                } else {
                    selectAll.removeAttr("disabled");
                }
                if (selectedShownIds.length > 0) {
                  selectNone.removeAttr("disabled");
                } else {
                  selectNone.attr("disabled", "disabled");
                }
            } else {
              selectAll.attr("disabled", "disabled");
              selectNone.attr("disabled", "disabled");
            }
        };

        var selectButtonSetup = function(selectButtonJQObj, checkStateOnclick) {
            selectButtonJQObj.on("click", function(e) {
                // Get all rows with search applied
                var rows = table.rows({ 'search': 'applied' }).nodes();
                // Check/uncheck checkboxes for all rows in the table
                $('input[type="checkbox"]', rows).prop('checked', checkStateOnclick);
                var currentlySelected = currentlySelectedIds();
                updateSelectButtons(currentlySelected);
                updateDownloadLink(currentlySelected);
                e.preventDefault();
            });
        };

        // disable export button to start
        exportSelectedLink.attr("disabled", "disabled");

        // init select buttons
        updateSelectButtons(currentlySelectedIds());
        selectButtonSetup(selectAll, true);
        selectButtonSetup(selectNone, false);

        // on checking a checkbox
        $('table.dataTable tbody').on( 'click', 'input[type=checkbox]', function () {
            var selectedIds = currentlySelectedIds();
            updateDownloadLink(selectedIds);
            updateSelectButtons(selectedIds);
        });

        // on filtering
        tableObject.on('search.dt', function () {
            var selectedIds = currentlySelectedIds();
            updateDownloadLink(selectedIds);
            updateSelectButtons(selectedIds);
        });

    });
    </script>
} {

    <a href="@controllers.routes.AdminController.newPart" class="btn btn-primary" style="margin: 5px 0;">@Messages("parts.create")</a>

    <a class="btn btn-default disabled" id="export-selected" download="octoparts-export-selected.json" href="#">@Messages("admin.exportSelected")</a>

    <p>
        @Messages("admin.select"):
        <a id="select-all" class="btn btn-link btn-sm" href="#">@Messages("admin.select.all")</a>
        <a id="select-none" class="btn btn-link btn-sm" href="#">@Messages("admin.select.none")</a>
    </p>

    <table class="dataTable stripe hover compact">
        <thead>
            <tr>
                <th></th>
                <th>@Messages("parts.partId")</th>
                <th>@Messages("parts.url")</th>
                <th>@Messages("parts.owner")</th>
                <th>@Messages("parts.section.localContents")</th>
                <th>@Messages("action")</th>
            </tr>
        </thead>
        <tbody>
        @for(partView <- parts) {
            <tr>
                <td>
                    <input type="checkbox" value="@partView.partId">
                </td>
                <td>
                    <a href="@controllers.routes.AdminController.showPart(partView.partId)"><span title="@Messages("parts.updated"): @partView.lastUpdate">@partView.partId</span></a>
                    @defining(partView.warnings(mode)) { warnings =>
                        @if(warnings.nonEmpty) {
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" title="@warnings.mkString("\n")"></span>
                        }
                    }
                </td>
                <td>@partView.uriToInterpolate</td>
                <td>@partView.config.owner</td>
                <td>
                    @if(partView.config.localContentsEnabled) {
                        @Messages("parts.localContents.enabled")
                    } else {
                        @Messages("parts.localContents.disabled")
                    }
                </td>
                <td width="390px">
                    <a href="@partView.tryItLink" class="btn btn-default">@Messages("parts.tryIt")</a>
                    <a href="@partView.detailLink" class="btn btn-success">@Messages("detail")</a>
                    <a href="@partView.editLink" class="btn btn-primary">@Messages("edit")</a>
                    <form action="@controllers.routes.AdminController.copyPart(partView.partId)" method="post">
                        <input type="submit" value="@Messages("duplicate")" class="btn btn-info" />
                    </form>
                    <a href="@controllers.routes.AdminController.confirmDeletePart(partView.partId)" class="btn btn-danger">@Messages("delete")</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <form id="download-form" action="@routes.PartsController.listPost().url" method="POST">
    </form>
}
