@(parts: scala.collection.SortedSet[presentation.HttpPartConfigView])(implicit flash: Flash, navbarLinks: presentation.NavbarLinks, lang: Lang, req: RequestHeader)

@views.html.adminlayout(Messages("parts.list")) {
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" />
    <style type="text/css">
    <!--
    th {
        font-weight:bold;
    }
    form {
        display:inline;
    }
    -->
    </style>
    @helper.javascriptRouter("jsRoutes")(routes.javascript.PartsController.list)
    @views.html.datatablesJsAndStyles()
    <script type="text/javascript">
    $(document).ready(function() {
        var tableObject = $('table.dataTable');
        var tableDepr = tableObject.dataTable({
            "language": {"url": '//cdn.datatables.net/plug-ins/f2c75b7247b/i18n/@{lang.toLocale.getDisplayLanguage(java.util.Locale.ENGLISH)}.json'},
            "jQueryUI": true,
            "stateSave": true,
            "pagingType": "full_numbers",
            "pageLength": 50,
            "aoColumnDefs": [
              { 'bSortable': false, 'aTargets': [ 0 ] }
           ],
           "order": [[ 1, "desc" ]]
        });
        var table = tableObject.DataTable();
        var exportSelectedLink = $("#export-selected");
        var selectAll = $("#select-all");

        var updateDownloadLink = function(selectedIds){
            if (selectedIds.length > 0) {
                var downloadUrl = jsRoutes.controllers.PartsController.list(selectedIds).url;
                exportSelectedLink.attr("href", downloadUrl);
                toggleDownloadLink(true);
            } else {
                toggleDownloadLink(false);
            }
        };

        var updateSelectAll = function(selectedIds) {
            if (selectedIds.length == 0) {
                selectAll.attr("checked", false);
            }
        };

        var currentlySelectedIds = function() {
            var selectedCheckboxes = table.$('input[type="checkbox"]:checked', { filter: 'applied' });
            var ids = $.map(selectedCheckboxes, function(checkbox) {
                return $(checkbox).val();
            });
            return ids;
        };

        var toggleDownloadLink = function(enabled) {
          if(enabled) {
            exportSelectedLink.removeClass("disabled");
            exportSelectedLink.removeAttr("disabled");
          } else {
            exportSelectedLink.attr("disabled", "disabled");
          }
        };

        // disable export button to start
        exportSelectedLink.attr("disabled", "disabled");

        // on checking a checkbox
        $('table.dataTable tbody').on( 'click', 'input[type=checkbox]', function () {
            var selectedIds = currentlySelectedIds();
            updateDownloadLink(selectedIds);
            updateSelectAll(selectedIds);
        });

        // on clicking the select all button
        selectAll.on('click', function(){
            // Get all rows with search applied
            var rows = table.rows({ 'search': 'applied' }).nodes();
            // Check/uncheck checkboxes for all rows in the table
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
            updateDownloadLink(currentlySelectedIds());
        });

        // on filtering
        tableObject.on('search.dt', function () {
            var selectedIds = currentlySelectedIds();
            updateDownloadLink(selectedIds);
            updateSelectAll(selectedIds);
        });

    });
    </script>
} {

    <a href="@controllers.routes.AdminController.newPart" class="btn btn-primary" style="margin: 5px 0;">@Messages("parts.create")</a>

    <a class="btn btn-default disabled" disabled id="export-selected" download="octoparts-export-selected.json" href="#">@Messages("admin.exportSelected")</a>

    <table class="dataTable stripe hover compact">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>@Messages("parts.partId")</th>
                <th>@Messages("parts.url")</th>
                <th>@Messages("parts.owner")</th>
                <th>@Messages("parts.section.localContents")</th>
                <th>@Messages("action")</th>
            </tr>
        </thead>
        <tbody>
        @for(partView <- parts) {
            <tr>
                <td>
                    <input type="checkbox" value="@partView.partId">
                </td>
                <td>
                    <a href="@controllers.routes.AdminController.showPart(partView.partId)"><span title="@Messages("parts.updated"): @partView.lastUpdate">@partView.partId</span></a>
                    @if(partView.warnings.nonEmpty) {
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" title="@partView.warnings.mkString("\n")"></span>
                    }
                </td>
                <td>@partView.uriToInterpolate</td>
                <td>@partView.config.owner</td>
                <td>
                    @if(partView.config.localContentsEnabled) {
                        @Messages("parts.localContents.enabled")
                    } else {
                        @Messages("parts.localContents.disabled")
                    }
                </td>
                <td width="390px">
                    <a href="@partView.tryItLink" class="btn btn-default">@Messages("parts.tryIt")</a>
                    <a href="@partView.detailLink" class="btn btn-success">@Messages("detail")</a>
                    <a href="@partView.editLink" class="btn btn-primary">@Messages("edit")</a>
					<form action="@controllers.routes.AdminController.copyPart(partView.partId)" method="post">
                        <input type="submit" value="@Messages("duplicate")" class="btn btn-info" />
                    </form>
                    <a href="@controllers.routes.AdminController.confirmDeletePart(partView.partId)" class="btn btn-danger">@Messages("delete")</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

}
