@(parts: scala.collection.SortedSet[presentation.HttpPartConfigView])(implicit flash: Flash, navbarLinks: presentation.NavbarLinks, lang: Lang, req: RequestHeader)

@views.html.adminlayout(Messages("parts.list")) {
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" />
    <style type="text/css">
    <!--
    th {
        font-weight:bold;
    }
    form {
        display:inline;
    }
    -->
    </style>
    @helper.javascriptRouter("jsRoutes")(routes.javascript.PartsController.list)
    @views.html.datatables()
    <script type="text/javascript">
    $(document).ready(function() {
        var table = $('table.dataTable').DataTable();
        var exportSelectedLink = $("#export-selected");
	    exportSelectedLink.attr("disabled", "disabled");
        $('table.dataTable tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
            var selectedRows = table.rows('.selected').data();
            var ids = selectedRows.map(function(row){
                return $(row[0]).text(); // extract id from id markup
            });
            if (ids.length > 0) {
                var downloadUrl = jsRoutes.controllers.PartsController.list(ids).url;
                exportSelectedLink.removeClass("disabled");
                exportSelectedLink.removeAttr("disabled");
                exportSelectedLink.attr("href", downloadUrl);
            } else {
                exportSelectedLink.attr("disabled", "disabled");
                exportSelectedLink.addClass("disabled");
            }
        });
    });
    </script>
} {

    <a href="@controllers.routes.AdminController.newPart" class="btn btn-primary" style="margin: 5px 0;">@Messages("parts.create")</a>

    <a class="btn btn-default disabled" disabled id="export-selected" download="octoparts-export-selected.json" href="#">Export selected</a>

    <table class="dataTable stripe hover compact">
        <thead>
            <tr>
                <th>@Messages("parts.partId")</th>
                <th>@Messages("parts.url")</th>
                <th>@Messages("parts.owner")</th>
                <th>@Messages("parts.section.localContents")</th>
                <th>@Messages("action")</th>
            </tr>
        </thead>
        <tbody>
        @for(partView <- parts) {
            <tr>
                <td>
                    <a href="@controllers.routes.AdminController.showPart(partView.partId)"><span title="@Messages("parts.updated"): @partView.lastUpdate">@partView.partId</span></a>
                    @if(partView.warnings.nonEmpty) {
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" title="@partView.warnings.mkString("\n")"></span>
                    }
                </td>
                <td>@partView.uriToInterpolate</td>
                <td>@partView.config.owner</td>
                <td>
                    @if(partView.config.localContentsEnabled) {
                        @Messages("parts.localContents.enabled")
                    } else {
                        @Messages("parts.localContents.disabled")
                    }
                </td>
                <td width="390px">
                    <a href="@partView.tryItLink" class="btn btn-default">@Messages("parts.tryIt")</a>
                    <a href="@partView.detailLink" class="btn btn-success">@Messages("detail")</a>
                    <a href="@partView.editLink" class="btn btn-primary">@Messages("edit")</a>
					<form action="@controllers.routes.AdminController.copyPart(partView.partId)" method="post">
                        <input type="submit" value="@Messages("duplicate")" class="btn btn-info" />
                    </form>
                    <a href="@controllers.routes.AdminController.confirmDeletePart(partView.partId)" class="btn btn-danger">@Messages("delete")</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

}
