@(part: presentation.HttpPartConfigView)(implicit flash: Flash, navbarLinks: presentation.NavbarLinks, lang: Lang)

@metaProps = @{Seq("serviceId", "userId", "sessionId", "requestUrl", "userAgent")}

@views.html.adminlayout(Messages("tryIt.title", part.partId)) {
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script type="text/javascript" src="/assets/js/tag-it.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.css" />
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/jquery.tagit.css"/>

    <script type="text/javascript">
        $(function(){
            var form = $("#tryItForm");
            $("#goButton").click(function(e) {

                var ts = Date.now();
                var aggjson = {
                    "requestMeta": {
                        "id": "tryIt-" + ts
                    },
                    "requests": [{
                        "partId": '@part.partIdJs',
                        "params": []
                    }]
                };
                @for(metaProp <- metaProps) {
                    aggjson.requestMeta['@metaProp'] = form.find('input[name="meta.@metaProp"]').val();
                }
                var params = aggjson.requests[0].params;
                @for(param <- part.editableParamsView) {
                    var paramName = '@param.inputNameJs';
                    if (!form.find('input[name="dis_' + paramName + '"]').is(':checked')) {
                        form.find('input[name="in_' + paramName + '"]' ).each(function(i, input){
                            params.push({
                               "key" : paramName,
                               "value" : $(input).val()
                            });
                        });
                    }
                }
                var postBody = JSON.stringify(aggjson);
                $.ajax({
                    type: "POST",
                    url: "@controllers.routes.PartsController.retrieveParts",
                    contentType : 'application/json',
                    dataType: 'json',
                    cache: true,
                    async: false,
                    data: postBody,
                    success: function (data, textStatus, jqXHR) {
                        $("#response").text(JSON.stringify(data, null, "\t"));
                        $("#response-contents").text(data.responses[0].contents);
                        $('code').each(function(i, block) {
                            hljs.highlightBlock(block);
                        });
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert("Octoparts " + textStatus + ": " + errorThrown)
                    }
                });
            });
        });
        $(function(){
            $('#clear').click(function() {
              $('#response').empty();
              $('#response-contents').empty();
            });
        });
    </script>
} {

    <h1>@Messages("tryIt.title", part.partId)</h1>
    <form id="tryItForm">
        @if(part.editableParamsView.nonEmpty) {
            <fieldset>
                <legend>@Messages("parts.parameter")</legend>
                @for(param <- part.editableParamsView) {
                    <div class="form-group">
                        <label for="id" class="col-sm-2 control-label @param.requiredCls">@param.name</label>
                        <div class="row">
                            <div class="col-sm-5">
                                <ul id="tagit_@param.param.inputName"></ul>
                                <script type="text/javascript">
                                    $(function(){
                                        var tagIt = $('#tagit_@param.inputNameJs');
                                        tagIt.tagit({
                                            fieldName: 'in_@param.inputNameJs',
                                            allowDuplicates: true,
                                            allowSpaces: true
                                        });
                                    });
                                </script>
                                @if(!param.required){ @Messages("tryIt.disable") <input type="checkbox" name="dis_@param.param.inputName"  checked="checked" /> }
                            </div>
                        </div>
                    </div>
                }
            </fieldset>
        }

        <fieldset>
            <legend>@Messages("tryIt.meta")</legend>
            @for(metaProp <- metaProps) {
                <div class="form-group">
                    <label for="meta.@metaProp" class="col-sm-2 control-label">@metaProp</label>
                    <div class="row">
                        <div class="col-sm-5">
                            <input name="meta.@metaProp" id="meta.@metaProp" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            }
        </fieldset>
    </form>

    <hr/>
    <div class="form-group">
        <label class="col-sm-2 control-label">&nbsp;</label>
        <div class="row">
            <div class="col-sm-5">
                <button id="goButton" class="btn btn-primary btn-lg col-sm-3">@Messages("tryIt.send")</button>
            </div>
        </div>
    </div>

    <h2>@Messages("tryIt.response-octoparts")</h2>
    <pre><code class="json" id="response"></code></pre>

    <h2>@Messages("tryIt.response-contents")</h2>
    <pre><code id="response-contents"></code></pre>
    <button id="clear" class="btn btn-default">@Messages("tryIt.clear")</button>

}
