@import com.m3.octoparts.util.ConfigMode
@(title: String)(meta: Html)(body: Html
)(implicit
  flash: Flash,
        configMode: ConfigMode,
  navbarLinks: presentation.NavbarLinks,
  messages: Messages
)

@import com.m3.octoparts.BuildInfo
@import org.joda.time.DateTime
@import play.api.Play
@import play.api.Mode.Prod

<!DOCTYPE html>

<html lang="@messages.lang.language">
    <head>
        <title>[@configMode.value] @title</title>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        @meta
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">
        @if(configMode.isProd) {
            <style>
                body { background-color : #ffdcdc ; }
            </style>
        }
    </head>
    <body role="document" style="padding-top: 60px; padding-bottom: 100px">

        @views.html.navbar(navbarLinks, configMode)

        <div class="container-fluid" role="main">
            @if(!flash.isEmpty) {
                <div class="row">
                    <div class="col-md-12">
                        @for((k, v) <- flash.data) {
                            <div class="alert alert-@k">@v</div>
                        }
                    </div>
                </div>
            }

            @body
        </div>

        <div id="footer"
            class="navbar-fixed-bottom"
            style="padding-top: 10px;
            /* Set the fixed height of the footer here */
            height: 70px;
            background-color: #f5f5f5;">
            <div class="container">
                <p class="text-muted">@BuildInfo.name @BuildInfo.version, built at @(new DateTime(BuildInfo.buildTime).toString("yyyy-MM-dd HH:mm:ss")) with Scala @BuildInfo.scalaVersion, locale: @messages.lang.toLocale</p>
                <p class="text-muted">Branch: @BuildInfo.gitBranch, HEAD: @BuildInfo.gitHEAD</p>
            </div>
        </div>
    </body>
</html>
