@import com.m3.octoparts.util.ConfigMode
@(
  navbarLinks: presentation.NavbarLinks,
  configMode: ConfigMode
)(implicit messages: Messages)
@import play.api.Play

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@controllers.routes.AdminController.listParts">@Messages("this")</a>
    </div>

    <div class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
            <li><a href="@controllers.routes.AdminController.listParts">@Messages("parts.list")</a></li>
            <li><a href="@controllers.routes.AdminController.listThreadPools">@Messages("threadPools.list")</a></li>
            <li><a href="@controllers.routes.AdminController.listCacheGroups">@Messages("cacheGroups.list")</a></li>
            <li><a href="@controllers.routes.AdminController.newPart">@Messages("parts.create")</a></li>
            <li><a href="@controllers.routes.AdminController.showImportParts">@Messages("admin.import")</a></li>
            <li><a href="@controllers.routes.PartsController.list()" download="octoparts-export.json">@Messages("admin.export.all")</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><span class="label label-primary" style="position: relative; display: block; margin: 10px 15px; line-height: 20px; color: white;">@configMode.value</span></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("menu.links") <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">@Messages("menu.monitoring")</li>
                    @for(kibana <- navbarLinks.kibana) { <li><a href="@kibana">Kibana</a></li> }
                    @for(hystrix <- navbarLinks.hystrixDashboard) { <li><a href="@hystrix">Hystrix Dashboard</a></li> }
                    <li class="divider"></li>
                    <li class="dropdown-header">@Messages("menu.info")</li>
                    @for(swagger <- navbarLinks.swaggerUI) { <li><a href="@swagger">Swagger</a></li> }
                    @for(wiki <- navbarLinks.wiki) { <li><a href="@wiki">Wiki</a></li> }
                </ul>
            </li>
            <li><a href="@controllers.routes.AuthController.logout">@Messages("menu.logout")</a></li>
        </ul>

    </div><!--/.nav-collapse -->
</div>
</div>
