@import com.m3.octoparts.model.config.ThreadPoolConfig
@(
  maybeTpc: Option[com.m3.octoparts.model.config.ThreadPoolConfig]
)(implicit
  flash: Flash,
  navbarLinks: presentation.NavbarLinks,
  messages: Messages
)

@title = @{
  maybeTpc match {
    case Some(tpc) => Messages("threadPools.edit", tpc.threadPoolKey)
    case None => Messages("threadPools.create")
  }
}
@postUrl = @{
  maybeTpc match {
    case Some(tpc) => controllers.routes.AdminController.updateThreadPool(tpc.id.get)
    case None => controllers.routes.AdminController.createThreadPool
  }
}

@views.html.adminlayout(title) {

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/jquery.validationEngine.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/languages/jquery.validationEngine-@{messages.lang.language}.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/validationEngine.jquery.min.css"/>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#editEntry").validationEngine({
            prettySelect : true
        });
    });
    </script>

} {

    <h2>@title</h2>

    <form id="editEntry" action="@postUrl" method="post" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="url" class="col-sm-2 control-label">@Messages("threadPools.key")</label>
            <div class="row">
                <div class="col-sm-5">
                    <input name="threadPoolKey" type="text" class="form-control validate[required]" value="@maybeTpc.map(_.threadPoolKey)"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="method" class="col-sm-2 control-label">@Messages("threadPools.coreSize")</label>
            <div class="row">
                <div class="col-sm-5">
                    <input name="coreSize" type="number" min="1" step="1" pattern="\d+" class="form-control validate[required]" value="@maybeTpc.map(_.coreSize).getOrElse(ThreadPoolConfig.defaultCoreSize)"/>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="method" class="col-sm-2 control-label">@Messages("threadPools.queueSize")</label>
            <div class="row">
                <div class="col-sm-5">
                    <input name="queueSize" type="number" min="-1" step="1" pattern="\d+" class="form-control validate[required]" value="@maybeTpc.map(_.queueSize).getOrElse(ThreadPoolConfig.defaultQueueSize)"/>
                    <p class="help-block">@Messages("threadPools.queueSizeExplanation")</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="row">
                <div class="col-sm-5">
                    <input type="submit" class="btn btn-primary" />
                </div>
            </div>
        </div>

    </form>

}
