@(threadPoolConfigs: scala.collection.SortedSet[com.m3.octoparts.model.config.ThreadPoolConfig])(implicit flash: Flash, navbarLinks: presentation.NavbarLinks, lang: Lang)

@views.html.adminlayout(Messages("threadPools.list")) {
    <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" />
    <style type="text/css">
    <!--
    th {
        font-weight:bold;
    }
    form {
        display:inline;
    }
    -->
    </style>
    @views.html.datatables()
} {

    <a href="@controllers.routes.AdminController.newThreadPool" class="btn btn-primary" style="margin: 5px 0;">@Messages("threadPools.create")</a>

    <table class="dataTable stripe hover compact">
        <thead>
            <tr>
                <th>@Messages("threadPools.key")</th>
                <th>@Messages("threadPools.coreSize")</th>
                <th>@Messages("threadPools.members")</th>
                <th>@Messages("action")</th>
            </tr>
        </thead>
        <tbody>
        @for(tpc <- threadPoolConfigs) {
            <tr>
                <td><a href="@controllers.routes.AdminController.showThreadPool(tpc.id.get)">@tpc.threadPoolKey</a></td>
                <td>@tpc.coreSize</td>
                <td>@tpc.hystrixConfigs.size</td>
                <td width="150px">
                    <a href="@controllers.routes.AdminController.editThreadPool(tpc.id.get)" class="btn btn-primary">@Messages("edit")</a>
                    <a href="@controllers.routes.AdminController.confirmDeleteThreadPool(tpc.id.get)" class="btn btn-danger">@Messages("delete")</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

}
